# Secretos locales
.env
**/.env
**/.env.production
!.env.example
!**/.env.example
!**/.env.production.example
back-end/secrets/

# Dependencias y compilaciones
node_modules/
**/node_modules/
dist/
**/dist/
.expo/
**/.expo/

# Sistema y registros
.DS_Store
Thumbs.db
*.log
npm-debug.log*
