DB_HOST=tu-host-de-aiven.aivencloud.com
DB_PORT=00000
DB_USER=avnadmin
DB_PASSWORD=pegar_credencial_solo_en_el_archivo_local
DB_NAME=defaultdb
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false
ALLOW_PRODUCTION_MIGRATIONS=YES
